amqp==2.4.0
apipkg==1.5
appnope==0.1.0
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
beautifulsoup4==4.7.1
billiard==3.5.0.5
bs4==0.0.1
cachetools==3.1.0
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
coverage==4.5.2
cycler==0.10.0
decorator==4.3.0
Django==2.1.5
docopt==0.6.2
docutils==0.14
execnet==1.5.0
Flask==1.0.2
futures==3.1.1
google-api-python-client==1.7.8
google-auth==1.6.2
google-auth-httplib2==0.0.3
html5lib==1.0.1
httplib2==0.12.0
idna==2.8
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.11.3
Kivy==1.10.1
Kivy-Garden==0.1.4
kiwisolver==1.0.1
kombu==4.2.2.post1
MarkupSafe==1.1.0
matplotlib==3.0.2
mechanize==0.4.0
more-itertools==5.0.0
mysql-connector-python==8.0.13
nose2==0.8.0
numpy==1.15.4
oauth2client==4.1.3
packaging==18.0
pandas==0.23.4
parso==0.3.1
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
pip-review==1.0
pluggy==0.8.1
prompt-toolkit==2.0.7
ptpython==2.0.4
ptyprocess==0.6.0
py==1.7.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
Pygments==2.3.1
pyparsing==2.3.0
pytest==4.1.1
pytest-cache==1.0
pytest-pep8==1.0.6
python-dateutil==2.7.5
python-imap==1.0.0
pytz==2018.9
requests==2.21.0
rsa==4.0
scikit-learn==0.20.2
scipy==1.2.0
selenium==3.141.0
six==1.12.0
soupsieve==1.7.1
SQLAlchemy==1.2.15
traitlets==4.3.2
Unidecode==1.0.23
uritemplate==3.0.0
urllib3==1.24.1
vine==1.2.0
virtualenv==16.2.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
gunicorn
psycopg2
