<html><head>
  <meta charset="UTF-8">
  <title>Multi Step Form with Progress Bar using jQuery and CSS3</title>

	<link rel="stylesheet" media="screen" href="static/style2.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">



</head>

<body>
  <!-- multistep form -->
<form id="msform" action="/res_page" method="post">
  <!-- progressbar -->
  <!-- fieldsets -->
  <fieldset>


    <textarea type="textarea" name="note" placeholder="Заметки по разговору. Сохраняются для заказа и предзаказа" style="height: 220px;"></textarea>
<br><br>
		<input class="radio" id="radio-1" type="radio" name="res" value="order" required="">
		<label for="radio-1">Есть заказ!</label>
<br><br>
		<input class="radio" id="radio-2" type="radio" name="res" value="preorder" >
		<label for="radio-2">Предзаказ</label>

<br><br>
		<input class="radio" id="radio-3" type="radio" name="res" value="lose" >
		<label for="radio-3">Недожал</label>

<br><br>
		<input class="radio" id="radio-4" type="radio" name="res" value="pass" >
		<label for="radio-4">Нецелевой</label><br>
<br>
  <input name="description" placeholder="Если не оформил, то почему?">
  <p>      </p>  <input type="submit" style="margin-left: 0px;width: 280px;margin-right: 0px;" name="next" class="next action-button" value="Готово">
<p style="text-align:center;paddint-top:10%;font-size:90%;color:white;">ПОМНИ О СВОЁМ ПРЕДНАЗНАЧЕНИИ</p>
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Social Profiles</h2>
    <h3 class="fs-subtitle">Your presence on the social network</h3>
    <input type="text" name="twitter" placeholder="Twitter">
    <input type="text" name="facebook" placeholder="Facebook">
    <input type="text" name="gplus" placeholder="Google Plus">
    <input type="button" name="previous" class="previous action-button" value="Previous">
    <input type="button" name="next" class="next action-button" value="Next">
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Personal Details</h2>
    <h3 class="fs-subtitle">We will never sell it</h3>
    <input type="text" name="fname" placeholder="First Name">
    <input type="text" name="lname" placeholder="Last Name">
    <input type="text" name="phone" placeholder="Phone">
    <textarea name="address" placeholder="Address"></textarea>
    <input type="button" name="previous" class="previous action-button" value="Previous">
  </fieldset>
</form>
    <script src="{{ url_for('static', filename="js/index.js")}}"></script>
</body>
</html>